.env
vendor
start.cmd
start_mail.cmd
start_sms.cmd
mailservice/main.exe
smsservice/main.exe
api/api.exe
api/vendor
deploy/env-configmap.yaml
exportservice
scripts
webapp
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
webapp/node_modules
webapp/.pnp
webapp/.pnp.js

# testing
webapp/coverage

# production
webapp/build

# misc
webapp/.DS_Store
webapp/.env.local
webapp/.env.development.local
webapp/.env.test.local
webapp/.env.production.local
webapp/npm-debug.log*
webapp/yarn-debug.log*
webapp/yarn-error.log*
exportservice/target*
